<h2>New Restaurant</h2>

<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :phone_number %>
  <%= f.number_field :phone_number %>
  <%= f.submit %>
<% end %>

<p><%= link_to "Back to Restaurants", restaurants_path %></p>


